################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.SET_LOCAL_PATH.cmake
/.vs
/out/build/x64-Debug
